<!-- TestHeader Component - Single Responsibility: Display test header info -->
<tr>
  <td>
    <a href="http://www.konami.com/"><img src="images/konami_logo.jpg" alt="KONAMI" border="0" /></a>
    &nbsp;&nbsp;&nbsp;
    <font color="red">
      This test session expires in {{ timeLimit }} minutes. The test must be completed within {{ timeLimit }} minutes, 
      or your results will only be processed up to that point.
    </font>
  </td>
</tr>
<tr>
  <td align="center">
    <img src="images/YGO_logo.jpg" alt="Yu-Gi-Oh! 5D's TRADING CARD GAME" />
  </td>
</tr>
