<app-page-container maxWidth="narrow">
    <app-header></app-header>
    
    <div class="content">
        <app-age-form 
            *ngIf="!showTermsAcceptance"
            (ageVerified)="onAgeVerified($event)"
            (ageRejected)="onAgeRejected()">
        </app-age-form>
        
        <app-terms-acceptance 
            *ngIf="showTermsAcceptance"
            (termsAccepted)="onTermsAccepted()"
            (termsDeclined)="onTermsDeclined()">
        </app-terms-acceptance>
    </div>
    
    <app-footer [contentRatingPath]="config?.contentRatingPath || 'assets/img/cr-digital.png'"></app-footer>
</app-page-container>
