@charset "utf-8";
/* CSS DOCUMENT - YGO v3 */

/* ============== COMMON ============== */
body
{
    margin:0;
    padding:0;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:white;
    background-color: #000000;
    background-image: url(../../images/bkg_slice_v1.jpg);
    background-position:top;
    background-repeat: no-repeat;
}

div#topbar{
    /* width: auto; */
    height: 35px;
    /*background:url(../img/topbar_slice.png)*/
    
}

div#fl_navi{
    /* width: 950px; */
    height: 30px;
    /* margin-left: auto;
    margin-right: auto; */
    /*background-color: #000000;*/
    text-align:right;
    }

div#wrapper{
    /* width: 950px; */
    margin-left: auto;
    margin-right: auto;
}

div#header{
    clear:both;
    margin: 0px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

div#nav{
    clear:both;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

div#sidenav{
    float:left;
    /*background:#555555;*/
    width: 200px;
    text-align:left;
    
}

/* GENERAL COLUMN HEADER/FOOTER, SPACERS */

div#col_header{
    height:25px;
}
div#col_header35{
    height:35px;
}
div#col_headertab{
    height:35px;
}
div#col_spacer{
    height:20px;
}
div#col_footer{
    height:25px;
}

div#col_footer40{
    height:40px;
    
    
}
div#footer{
    clear: both;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*background:url(../img/footer_dkchk.png),repeat-x;*/
}


a:link {
    color: #4BCBBE;
}
a:visited {
    color: #4BCBBE;
}
a:hover {
    color: #4BCBBE;
}
a:active {
    color: #4BCBBE;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

a.totop {
    background-image: url(../img/icon_up.gif);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    padding-left: 16px;
}

a.totop:link {
    color: #4BCBBE;
}
a.totop:visited {
    color: #4BCBBE;
    text-decoration: none;
    border-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-color: #4BCBBE;
}
a.totop:hover {
    color: #4BCBBE;
}
a.totop:active {
    color: #4BCBBE;
    border-color: #4BCBBE;
}

a.goto {
    background-image: url(../img/icon_down.gif);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    padding-left: 16px;
}
a.goto:link {
    color: #4BCBBE;
}
a.goto:visited {
    color: #4BCBBE;
    text-decoration: none;
    border-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-color: #4BCBBE;
}
a.goto:hover {
    color: #4BCBBE;
    border-color: #4BCBBE;
}
a.goto:active {
    color: #4BCBBE;
    border-color: #4BCBBE;
}

a.back {
    background-image: url(../img/icon_left.gif);
    background-repeat: no-repeat;
    background-position: 0px 1px;
    padding-left: 16px;
}

a.back:link {
    color: #339999;
}
a.back:visited {
    color: #33CCFF;
    text-decoration: none;
    border-width: 1px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: dotted;
    border-left-style: none;
    border-color: #339999;
}
a.back:hover {
    color: #339999;
    border-color: #339999;
}
a.back:active {
    color: #339999;
    border-color: #339999;
}
/* ============== ADDITIONAL HEADER/MAIN/FOOTER ============== */

#tbar_mid   {
    /* width: 1100px; */
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    /*background:url(../img/topbar_mid.png)*/
    }

#Header1 {
    float: left;
    width: 700px;
    height: 45px;
    /* background-color: #999999; */
}

#Header2{
    float: right;
    width: 250px;
    height: 45px;
    /* background-color: #999999; */
}

/*== 200-PX NAVIBAR ==*/

div#sidenavi_main{
    padding:8px;
    /*background-color:#000000;*/
    background:url(../img/navibar_slice.png);
}


/*== 730-PX COLUMNS ==*/

div#content_col1{
    float:left;
    width: 730px;
    margin-left:10px;
    margin-right:10px;
    text-align: left;
    border-left:#666666;
}

div#col1_main{
    padding:10px;
    /*background-color:#000000;*/
    background:url(../img/col1_slice.jpg);
}

/*== 930-PX COLUMNS ==*/

div#content_colfull{
    float:left;
    width: 930px;
    margin-left:10px;
    margin-right:10px;
}

div#colfull_main{
    padding: 1.5em;
    background-color:#000000;
    /* background:url(../img/colfull_slice.jpg); */
    line-height: 1.5em;
    border: 2px #a1a1a1 solid;
}

#FooterMain{
    margin-left: auto;
    margin-right:auto;
    width: 950px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    /*background-color: #666666;*/
}

#NaviMain{
    margin-left: auto;
    margin-right:auto;
    width: 950px;
    vertical-align:middle;
    height: auto;
    /*display: table-cell;*/
    vertical-align: middle;
    z-index:1000;
    /*background-color: #666666;*/
}

.Lang_Navi {
    font-size: 10px;
}

#Titlebox {
    border: 1px solid #AAAAAA;
    background-image:url(../../images/checkers_drk.gif);
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    }
    
/* ============== MENU ============== */

#menu ul {
    margin: 0px;
    padding: 0px;
}
#menu li {
    list-style-type: none;
    line-height:0px;
    margin: 0px;
    padding: 0px;
    display:block;
}
#menu #news a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #news a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: 0px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #events a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -163px 0px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #events a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -163px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #products a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -326px 0px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #products a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -326px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #gameplay a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -489px 0px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #gameplay a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -489px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #rulebook a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -652px 0px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #rulebook a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -652px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #limited a{
    text-indent: -9999px;
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -815px 0px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}
#menu #limited a:hover{
    background-image: url(../img/menus.jpg);
    background-repeat: no-repeat;
    background-position: -815px -30px;
    display: block;
    float: left;
    width: 163px;
    height: 30px;
}


/* ============== HOME ============== */

/*NEWPRODUCT COLUMNS ==*/

div#newscolumn{
    float:left;
    /*background:#555555;*/
    width: 380px;
}

div#newscolumn_main{
    padding:10px;
    /*background-color:#000000;*/
    background:url(../img/newsproduct_slice.png);
}

/*== SIDE COLUMNS ==*/

div#mainright{
    float:left;
    width: 540px;
    margin-left:10px;
    /*margin-right:10px;*/
    text-align: left;
}

div#mainright_content{
    padding:10px;
    /*background-color:#000000;*/
    background: url(../img/newsupdate_slice.png);
}

div#mainright_content{
    padding:10px;
    /*background-color:#000000;
 *  background:url(../img/col1_slice.jpg);*/
}

/* ============== NEWS ============== */


/* ============== EVENTS ============== */

div#calendar{
    float:left;
    /*background:#555555;*/
    width: 630px;
    text-align:left;
}

div#calendar_main{
    padding:10px;
    /*background-color:#000000;*/
    background:url(../events/img/calendar_slice.png);
    text-align: left;
}

div#eventright{
    float:left;
    width: 300px;
    margin-left:10px;
    /*margin-right:10px;*/
    text-align: left;
}

div#eventright_content{
    padding:5px;
    /*background-color:#000000;*/
    background: url(../events/img/rt_column_slice.png);
}

/*=============== SNEAK PEEKS ================*/

#sneak_tag {
    border-bottom: 1px dashed #CCCCCC;
    /*background-color: #000000;
 *  padding-left: 10px;
 *      padding-right: 10px;*/
    height: 280px;
    margin-left: 10px;
    margin-right: 10px;
    }
    
#sneak_subdiv {
margin-bottom: 10px;
border-bottom: 1px dashed #CCCCCC;
    }

#sneak_tag dd {
    display: block;
    margin-left: 200px;
    margin-bottom: 4px;
}

#sneak_tag dt {
    float: left;
    color: #FFCC33;
    font-weight: bold;
    margin-right: 2px;
    display: block;
    margin-bottom: 4px;
}




/* ============== PRODUCTS ============== */

div#prdad_lt{
    float:left;
    /*background:#555555;*/
    width: 500px;
    text-align:left;
}

div#prdad_content{
    padding:10px;
    /*background-color:#000000;
 *  background:url(../img/newsupdate_slice.png);*/
}

div#product_rt{
    float:left;
    width: 420px;
    margin-left:10px;
    /*margin-right:10px;*/
    text-align: left;
}

div#productrt_content{
    padding:10px;
    /*background-color:#000000;
 *  background:url(../img/col1_slice.jpg);*/
}

div#media_column{
    float:left;
    width: 930px;
    margin-left:10px;
    margin-right:10px;
    text-align: left;
}

div#media_content{
    padding:10px;
    /*background-color:#000000;*/
    background:url(../products/img/media_slice.png)
}


.products_box {
    width: 360px;
    height: 142px;
    border: 1px solid #CCCCCC;
    background-color: #330000;
    margin-bottom: 8px;
}

#products_text #products_tag {
    padding: 10px;
    float: right;
    width: 240px;
    margin-left: 12px;
}
#products_tag img {
    text-align: center;
}
#products_tag {
    border-bottom: 1px dashed #CCCCCC;
    /*background-color: #000000;
 *  padding-left: 10px;
 *      padding-right: 10px;*/
    height: 240px;
    margin-left: 10px;
    margin-right: 10px;
    }
    
#products_subdiv {
margin-bottom: 10px;
border-bottom: 1px dashed #CCCCCC;
    }

#products_tag dd {
    display: block;
    margin-left: 200px;
    margin-bottom: 4px;
}

#products_tag dt {
    float: left;
    color: #FFCC33;
    font-weight: bold;
    margin-right: 2px;
    display: block;
    margin-bottom: 4px;
}

#products_jacketbox {
    text-align: center;
}

/* ============== RULEBOOK ============== */



/* ============== IMAGE TREATMENTS ============== */

.fifteenpt_pad_img {
    margin: 15px;
}

/* ============== ICON TREATMENTS ============== */

/*.link_icon {
 *  background-image: url(../img/icon1.gif);
 *      background-repeat: no-repeat;
 *          padding-left: 20px;
 *              background-position: 6px 6px;
 *              }*/
.pdf_icon {
    background-image: url(../img/icon_pdf.gif);
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: 5px 5px;
    }
    
.link_icon {
    background-image: url(../img/link_gen.png);
    background-repeat: no-repeat;
    padding-left: 12px;
    background-position: 2px 2px;
    list-style-position: inside;
    }
    
#navilista
{
margin-left: 0;
padding-left: 0;
list-style: none;
}
    #navilista li
    {
        padding-left: 12px;
        background-image: url(../img/link_gen.png);
        background-repeat: no-repeat;
        background-position: 0 .5em;
        }


/* ============== SPECIAL TABLES ============== */
.tenpoint_table{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
}
.eventtable_10pt {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    width: 95%;
}


.boximg   {
    float: right;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.boximg-left {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.bottom-dot_border {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-bottom-width: thin;
    border-bottom-style: dashed;
    border-bottom-color: #CCCCCC;
}
.three-side-dot_border {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border: medium solid #000000;
    background-color: #333333;
}

.dropdown {
    border: 0px
}
.dropdown-menu {
    background-color: transparent;
    /* background-image: url('../img/subnavBG.png'); */
    background-color: #6a6a6a;
    background: url('../img/subnavBG.png') no-repeat 100% 100%;
    padding: 0;
    margin: 0;
	width: 260px;
	font-size: 12px;
}

a.dropdown-item {
    color: white;
    height: 45px;
}

a.dropdown-item:hover {
    background: url(../img/navOverBG.gif) repeat-x 0 0;
    color: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}


.nav-link {
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 45px;
    width: 158px;
}


#navbarDropdownAbout {
    background-image: url('../img/responsive/about_menu.png');
}
#navbarDropdownAbout:hover {
    background-image: url('../img/responsive/about_over.png');
}
#navbarDropdownProducts {
    background-image: url('../img/responsive/products_menu.png');
}
#navbarDropdownProducts:hover {
    background-image: url('../img/responsive/products_over.png');
}
#navbarDropdownGameplay {
    background-image: url('../img/responsive/gameplay_menu.png');
}
#navbarDropdownGameplay:hover {
    background-image: url('../img/responsive/gameplay_over.png');
}
#navbarDropdownEvents {
    background-image: url('../img/responsive/events_menu.png');
}
#navbarDropdownEvents:hover {
    background-image: url('../img/responsive/events_over.png');
}

.navbar-light .navbar-toggler {
    /* border-color: rgba(255, 255, 255, 1); */
}
.navbar-light .navbar-toggler-icon {
    /* background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(237, 28, 36, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>"); */
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

div#contest {
    /* background-color: black; */
    padding: 2em;
}

.title-center {
        background-image: url(../img/responsive/kde_top_ttl_background.png);
        background-repeat: repeat-x;
        /* background-position: left 10px; */
        width: 100%;  
}

.navbar-center {
    background-image: url(../img/responsive/navbar-background.png);
    background-repeat: repeat-x;
    width: 100%;
}
.navbar-left__img {
    padding-top: 10px;
}
.navbar-right__img {
    padding-top: 10px;
}

.btbar-center {
    background-image: url(../img/responsive/btbar_center.png);
    background-repeat: repeat-x;
    width: 100%;
}
/* #navbarDropdownAbout {
    background: url(../img/responsive/products_over.png) no-repeat center center;
    height: 40px
} */





/* JS disabled styles */
.no-js nav li:hover ul { display:block; }

/* base nav styles 
 *
 * #nav { display:table;   position:relative; background-color:#6a6a6a; font:16px Tahoma, Sans-serif; background: url('../img/menubar_main1.png') no-repeat ; height:59px;}
 *
 * nav ul { padding:0; display:inherit; margin:15px 0 0 20px; }
 *
 * nav li { position:relative; float:left; list-style-type:none; width:152px; margin-right: 1.5em; margin-left: .5em;  margin: 0 0 0 207;}
 * nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
 * nav li a { display:block; padding:10px 20px; border-left:1px solid #999; border-right:1px solid #222; color:#eee; text-decoration:none; }
 *
 * nav li a:focus { outline:none; text-decoration:underline; }
 * nav li:first-child a { border-left:2px solid #06F; }
 * nav li.last a { border-right:none; }
 * nav a span { display:block; float:right; margin-left:0px; }
 * nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }
 * nav ul ul li { float:none; }
 * nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }
 * nav ul ul a:hover { background-color:#555; }*/


/* ============== NAVIGATION BAR ============== */

/* base nav styles */
/*nav { display:block; margin:0 auto 20px; border:1px solid #222; position:relative; background-color:#6a6a6a; font:16px Tahoma, Sans-serif; }*/
#nav { display:table;   position:relative; background-color:#6a6a6a; font:14px Tahoma, Sans-serif; background: url('../img/menubar_main1.png') no-repeat ; height:65px;}

#NaviMain { display: block;  border: 0px solid #222; margin: 18px 0 0 30px;  position:relative; }

/*nav ul { padding:0; margin:0; }*/
nav ul { padding: 0;  margin: 0 0 0 1px;  }

nav li { 
    position:relative; 
    float:left; 
    list-style-type:none; 
    width:130px; 
    margin-right: 20px; 
    margin-left: 2px;  
    /* height: 32px; */
}

@media screen and (min-width: 1200px) {
    nav li { 
        width:158px; 
    }
  }



nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
nav li a { display:block; padding: 10px 20px;  text-decoration:none; } /*border-left:0px solid #999; border-right:0px solid #222; color:#eee;*/

nav li a:focus { outline:none; text-decoration:underline; }

nav li:first-child a { border-left:none; }
nav li.last a { border-right:none; }

nav a span { display:block; float:right; margin-left:5px; }

nav ul ul { display:none; width:100%; position:absolute; float:left; left:0; background:url(../img/subnavBG.png) no-repeat 100% 100%;color:#F00; }
/*nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }*/

nav ul ul li { float:none;height:40px;  }

nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px;  }
nav ul ul a:hover { background-color:#555; }
/*nav ul ul a:hover { background-color:#555; }*/

/*
 * a:link {
 *  color: #4BCBBE;
 *  }*/

.news2 a {
    color: #FFFFFF; 
}

.news1  {background-image: url(../img/news_over.png);background-repeat:no-repeat;  } 
.news1 a{background-image: url(../img/news_menu.png);background-repeat:no-repeat; }
.prod {background-image: url(../img/products_over.png); background-repeat:no-repeat; }
.prod  a  {background-image: url(../img/products_menu.png);background-repeat:no-repeat; }
.game {background-image: url(../img/gameplay_over.png);background-repeat:no-repeat;  } 
.game a {background-image: url(../img/gameplay_menu.png); background-repeat:no-repeat; }
.event {background-image: url(../img/events_over.png); background-repeat:no-repeat; }
.event a {background-image: url(../img/events_menu.png); background-repeat:no-repeat;}
ul.menu li a:hover {background: none;}
/*.news2:hover {background: #09F; color:#0F0;}*/
.news2:hover {background:url(../img/navOverBG.gif) repeat-x 0 0; color:#0F0; }

.news2 a{background: none; }
.menu li {float: left;}
.menu:after {content: "."; display: block; height: 0; clear: both;
}.product_icon {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: normal;
    border-bottom-width: 0px;
    border-bottom-style: none;
    padding: 5px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}
.fivept_pad_img {
    margin: 5px;
    text-align: center;
}


#cardlist {
    color: #000000;
    background-color: #333333;
}
.cardlist_synchro     {
    background-color: #CCCCCC;
    color: #000000;
}
.cardlist_xyz {
    color: #FFFFFF;
    background-color: #000000;
}

.cardlist_effect {
    background-color: #FF8B53;
    color: #000000;
}
.cardlist_ritual {
    background-color: #9DB5CC;
    color: #000000;
}
.cardlist_monster {
    background-color: #FDE68A;
    color: #000000;
}
.cardlist_fusion {
    background-color: #a086b7;
    color: #000000;
}
.cardlist_spell {
    background-color: #1D9E74;
    color: #000000;
}
.cardlist_trap {
    background-color: #BC5A84;
    color: #000000;
}
/*SLIDER START HERE*/
#wrap{
    margin: 0px auto;
    padding: 0px;
    /*width: 750px;*/
    background: #000000;
    border: 0px solid #0099FF;
}

.slider{
    border: 0px solid #666666;
    /*width:670px;
 *  height:200px;*/
    padding: 0px;
    
}
/** CSS is optional, but can be used for button styling. The above preview uses this CSS **/
.buttons, .control{
    /*background: #000000;*/
    /*padding: 0px 10px;*/
    /*margin: 0px;*/
    /*line-height: 1px;*/
    color: #FFFFFF;
    text-decoration: none;
}
.active{
    background: #00F   ;/*#00CC66;*/
    color: #00FF00;
    
}
.buttons:hover, .control:hover{
    background: #0099FF;
    color:#FFF;
}
/*SLIDER CSS END HERE*/
.grey_titlebox {
    font-size: 16px;
    font-weight: bold;
    background-image: url(../../images/checkers_drk.gif);
    padding: 5px;
    margin: auto;
    text-align: left;
}
.update_ttl {
    font-size: 12px;
    color: #FC0;
    text-align: right;
}


/* ================Thanuja Style Sheet ============= */
td.FieldLabel
{
    font-family: Tahoma, sans-serif;
    font-size: 8pt;
    /*letter-spacing: 1px;*/
    font-weight: bold;
    color: #000162;
    padding-bottom: 5px;
    padding-top: 5px;

    }
    
    
    .FieldHeading
    {
        font-family: Tahoma, sans-serif;
        font-size: 11pt;
        /*letter-spacing: 1px;*/
        font-weight: bold;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    
    .scroll
    {
    width:300px;
    height:400px;
    overflow:scroll;
    border: 1px #ababab solid;
    }
    
  .hidden 
    {
    
    overflow:hidden;
    
    }
    
    .infoWindow 
    {
        display:block;
        line-height: normal;
        overflow:hidden;
        height:80px;
        color:Black;
    }
    
     .eventinfoWindow 
    {
        display:block;
        line-height: normal;
        overflow:hidden;
        height:100px;
        color:Black;
    }



   
    .wrapper {
		width: 950px;
    	/* margin: 0 auto; */
	}

@media (min-width: 1200px) {
	.container {
    	max-width: 960px;
	}
}